<section class="py-5 bg-light">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        
        <!-- Illustration -->
        <div class="mb-2">
          <img src="../../assets/lcons/request.svg" 
               class="img-fluid" 
               alt="Register" 
               style="max-width: 400px;">
        </div>
        
        <!-- Heading -->
        <h4 class="fw-bold mb-2" style="color: #0F2C59;">
          Register Yourself For Request Lecture
        </h4>
        
        <!-- Login Link -->
        <p class="text-secondary mb-4">
          Already have account? 
          <a href="/login" class="text-decoration-none fw-semibold" style="color: #1e40af;">
            Login
          </a>
        </p>
        
        <!-- Register Button -->
        <div>
          <a href="/registration"
             class="btn px-5 py-3  fw-semibold text-white w-50 "
             style="background-color: #0F2C59;">
            Register Now
          </a>
        </div>
        
      </div>
    </div>
  </div>
</section>