.register-btn {
  background-color: #0F2C59; 
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.5px;

  /* glow effect */
  box-shadow: 
    0 0 0 6px #F4EBFF,
    0 10px 25px #F4EBFF;

  transition: all 0.3s ease;
}

.register-btn:hover {
  transform: translateY(-2px);
  box-shadow: 
    0 0 0 6px #F4EBFF,
    0 14px 30px #F4EBFF;
}

.register-btn:active {
  transform: translateY(0);
}