<div class="container-fluid py-3 lightbg">
  <div class="row g-4 p-4">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let mosque of mosques">
      <div class="mosque-card">
        <div class="mosque-image">
          <img [src]="mosque.image" [alt]="mosque.name">
          <span class="badge-label">{{ mosque.label }}</span>
        </div>
        
        <div class="card-content">
          <h3 class="mosque-title">{{ mosque.name }}</h3>
          <p class="mosque-location">{{ mosque.location }}</p>
          
          <div class="row g-2 mt-2">
            <div class="col-6">
              <div class="info-item">
                <div class=" icon-wrapper">
                  <i class="user1"></i>
                </div>
                <div class="info-text">
                  <div class="info-label">Imam Name</div>
                  <div class="info-value">{{ mosque.imamName }}</div>
                </div>
              </div>
            </div>
            
            <div class="col-6">
              <div class="info-item">
                <div class="user2 icon-wrapper">
                  <!-- <i class="bi bi-people"></i> -->
                </div>
                <div class="info-text">
                  <div class="info-label">Capacity</div>
                  <div class="info-value">{{ mosque.capacity }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>